section.showreels-buttons.main-content__showreels-buttons
    +circle-button({
        text: 'watch showreel',
        icon: 'eye',
        circle: 'static'
    }).showreels-buttons__item_1
    +circle-button({
        text: 'creative showreel',
        icon: 'play',
        circle: 'wave',
        initialState: 'hidden-on-the-left',
        disableHover: true
    }).showreels-buttons__item_2
    +circle-button({
        text: '            smm showreel',
        icon: 'play',
        circle: 'wave',
        initialState: 'hidden-on-the-right',
        disableHover: true
    }).showreels-buttons__item_3

