.description-company {
    $main-content--show: #{'.main-content--show'};

    width: 100%;
    position: relative;
    box-sizing: border-box;
    @include media((
        padding-top: (
            all: 49 / 14.4 + vw,
            mob: 28 / 3.75 + vw
        ),
        padding-left: (
            all: 100 / 14.4 + vw,
            mob: 20 / 3.75 + vw
        ),
        padding-right: (
            all: 168 / 14.4 + vw,
            mob: 20 / 3.75 + vw
        ),
    ));

    & > p, & > div > p {
        font-weight: 300;
        @include media((
            line-height: (
                all: 68 / 56 + 0,
                mob: 28 / 20 + 0
            ),
            font-size: (
                all: 56 / 14.4 + vw,
                mob: 20 / 3.75 + vw
            ),
            max-width: (
                all: 1172 / 14.4 + vw,
                mob: 100%
            )
        ));

        & > span {
            opacity: 0;
            transition: opacity 1s ease;
            i.blink-words {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                width: 0;
                transition: width 1s $animation-timing-function;
                font-style: normal;
                b {
                    position: relative;
                    transition: opacity 1s ease, width 0.7s ease 0s;
                    display: inline-block;
                    text-align: center;
                    font-weight: inherit;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #fff;
                        animation: fade 2000ms infinite $animation-timing-function;
                        @include media((
                            height: (
                                all: 2 / 14.4 + vw,
                                mob: 1 / 3.75 + vw
                            )
                        ));
                    }
                }
            }

        }

        @at-root #{$main-content--show} .description-company > div > p:nth-child(1) span {
            opacity: 1;
            @for $i from 1 through 40 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.1s + (0.020 * $i);
                }
            }
        }
        @at-root #{$main-content--show} .description-company > div > p:nth-child(2) span {
            opacity: 1;
            @for $i from 1 through 100 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.9s + (0.020 * $i);
                }
            }
        }
        @at-root #{$main-content--show} .description-company > p span {
            opacity: 1;
            @for $i from 1 through 20 { // 16
                &:nth-child(#{$i}) {
                    transition-delay: 2.7s + (0.020 * $i);
                }
            }
        }
        @at-root #{$main-content--show} .description-company > p span {

        }

    }

    div {
        margin-bottom: 68 / 14.4 + vw;
    }
}


@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}
