// File for scss-vars.
// For example: main colors, paddings and so on.

// VARS FOR MEDIA BREACKPOINT, LOOK IN mixins.scss file
//  mob: 768

$animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1); // slow - fast - slow

$z-indexes: (
    menu-pupup: 400,
    sort-projects-popup: 450,
    header: 500,
    pupup-welcome-animation: 9000
);

