mixin pupup-main-menu()
    menu.pupup-main-menu
        ul.pupup-main-menu__list
            li.pupup-main-menu__item
                a(href="#").pupup-main-menu__link
                    span About
            li.pupup-main-menu__item
                a(href="#").pupup-main-menu__link
                    span Cases
            li.pupup-main-menu__item
                a(href="#").pupup-main-menu__link
                    span Clients
