mixin pupup-welcome-animation()
    div.pupup-welcome-animation
        .pupup-welcome-animation__background
        .pupup-welcome-animation__text
            p
                span Deluxe
            p
                span Interactive
            p
                span Moscow
