.pupup-welcome-animation {
    $this--hide: #{&}--hide;
    $this--disaplay-none: #{&}--disaplay-none;
    $this--show-text: #{&}--show-text;
    $this: &;

    z-index: map-get($z-indexes, pupup-welcome-animation);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1D;
    transition: all 2500ms $animation-timing-function;
    clip: rect(auto, auto, auto, 0px);

    @at-root #{$this--hide} {
        clip: rect(auto, auto, auto, 100vw);
    }
    @at-root #{$this--disaplay-none} {
        display: none;
    }

    $this__background: #{&}__background;

    &__background {
        background-color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        //transform-origin: 100% 50%;
        //transition: transform 3s $animation-timing-function;
        //@at-root #{$this--hide $this__background} {
        //    transform: scaleX(0);
        //}
    }

    $this__text: #{&}__text;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        backface-visibility: hidden;
        p {
            display: block;
            font-weight: 700;
            line-height: 1;
            position: relative;
            z-index: 0;
            margin-bottom: -1px;
            @include media((
                font-size: (all: 150 / 14.4 + vw, mob: 40 / 3.75 + vw),
                padding-left:(all: 20 / 14.4 + vw),
                padding-right:(all: 30 / 14.4 + vw),
            ));

            &:after {
                content: '';
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1B1B1D;
                position: absolute;
                transition-property: transform;
                transition-timing-function: $animation-timing-function;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                z-index: -1;
                @at-root #{$this--show-text $this__text} p:after {
                    transform: scaleX(1);
                }
                @for $i from 0 through 2 {
                    @at-root #{$this__text} p:nth-child(#{$i + 1}):after {
                        $deleayMs: 300 * $i;
                        transition-delay: $deleayMs + ms;
                        transition-duration: #{2500 - $deleayMs}ms;
                    }
                }
            }

            span {
                position: relative;
                z-index: 1;
            }

            &:first-child {
                padding-top: 15 / 14.4 + vw;
            }
        }
    }
}
