.header {
    $this--show: #{&}--show;
    $this: &;

    $timingShow: 1000ms;

    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1D;
    z-index: map-get($z-indexes, header);
    @include media((
        height: (
            all: 80 / 14.4 + vw,
            mob: 76 / 3.75 + vw
        ),
    ));

    &__logo {
        transition: opacity $timingShow ease;
        @include media((
            width: (
                all: 33 / 14.4 + vw,
                mob: 26 / 3.75 + vw
            ),
            margin-left: (
                all: 30 / 14.4 + vw,
                mob :20 / 3.75 + vw
            ),
            opacity: (
                all: 0,
                mob: 1
            )
        ));
        @at-root #{$this--show} & {
            opacity: 1;
        }

        img {
            user-select: none;
            pointer-events: none;
            width: 100%;
            display: block;

        }
    }

    &__pupup-main-menu-toggle {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity $timingShow ease;
        @include media((
            width: (
                all: 92 / 14.4 + vw,
                mob: 64 / 3.75 + vw
            ),
            opacity: (
                all: 0,
                mob: 1
            )
        ));
        @at-root #{$this--show} & {
            opacity: 1;
        }
        div {
            position: relative;
            pointer-events: none;
            @include media((
                width: (
                    all: 28 / 14.4 + vw,
                    mob: 24 / 3.75 + vw
                ),
                height: (
                    all: 22 / 14.4 + vw,
                    mob: 18 / 3.75 + vw
                ),
            ));
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            background-color: #fff;
            transition: (opacity 0.5s ease 0.95s, transform 1.1s $animation-timing-function);
            transform: (translate(-50%, -50%));
            @include media((
                height: (
                    all: 2 / 14.4 + vw,
                    mob: 2 / 3.75 + vw
                )
            ));
            @at-root .header__menu-button-toggle--is-active span {
                transition: opacity 0.3s ease, transform 1.1s $animation-timing-function;
            }

            &:nth-child(1) {
                @include media((
                    transform: (
                        all: (translate(-50%, calc(-50% - 0.6944444444444444vw))), // 10 / 14.40 + vw
                        mob: (translate(-50%, calc(-50% - 2.133333333333333vw))) // 8 / 3.75 + vw
                    )
                ));
                // below is active state -----------
                @at-root .header__menu-button-toggle--is-active div span:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(-225deg);
                }
            }

            &:nth-child(2) {
                // below is active state -------------
                @at-root .header__menu-button-toggle--is-active span:nth-child(2) {
                    opacity: 0;
                }
            }

            &:nth-child(3) {
                @include media((
                    transform: (
                        all: (translate(-50%, calc(-50% + 0.6944444444444444vw))), // 10 / 3.75 + vw
                        mob: (translate(-50%, calc(-50% + 2.133333333333333vw))) // 8 / 3.75 + vw
                    )
                ));
                // below is active state ----------------
                @at-root .header__menu-button-toggle--is-active div span:nth-child(3) {
                    transform: translate(-50%, -50%) rotate(-135deg);
                }
            }
        }

    }
}


