mixin header()
    header.header
        a(href="/").header__logo
            img(src="static/img/general/logo.svg", alt="Логотип компании", width="27")
        button.header__pupup-main-menu-toggle
            div
                span
                span
                span
