.main-content {
    &__description {
    }

    &__showreels-buttons {
        margin-left: auto;
        @include media((
            margin-top: (
                all: -92 / 14.4 + vw,
                mob: 38 / 3.75 + vw
            ),
            margin-bottom: (
                all: 12 / 14.4 + vw,
                mob: 51 / 3.75 + vw
            ),
            margin-right: (
                all: 205 / 14.4 + vw,
                mob: auto
            )
        ));
    }

    &__projects {

    }
}
