mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title Deluxe Interactive
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")

    meta(property="og:title", content="")
    meta(property="og:title", content="")
    meta(property="og:url", content="")
    meta(property="og:description", content="")
    meta(property="og:image", content="")
    meta(property="og:image:type", content="image/jpeg")
    meta(property="og:image:width", content="500")
    meta(property="og:image:height", content="300")
    meta(property="twitter:description", content="")
    link(rel="image_src", href="")
    link(rel="preload" href="static/fonts/euclidflexlight.woff2" as="font" crossorigin)
    link(rel="preload" href="static/fonts/euclidflex.woff2" as="font" crossorigin)
    link(rel="preload" href="static/fonts/euclidflexmedium.woff2" as="font" crossorigin)
    link(rel="preload" href="static/fonts/euclidflexbold.woff2" as="font" crossorigin)
    style.
        @font-face {
            font-family: 'Euclid Flex';
            src: url('static/fonts/euclidflexlight.woff2') format('woff2'),
            url('static/fonts/euclidflexlight.woff') format('woff');
            font-weight: 300;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Euclid Flex';
            src: url('static/fonts/euclidflex.woff2') format('woff2'),
            url('static/fonts/euclidflex.woff') format('woff');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Euclid Flex';
            src: url('static/fonts/euclidflexmedium.woff2') format('woff2'),
            url('static/fonts/euclidflexmedium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Euclid Flex';
            src: url('static/fonts/euclidflexbold.woff2') format('woff2'),
            url('static/fonts/euclidflexbold.woff') format('woff');
            font-weight: 700;
            font-style: normal;
            font-display: swap;
        }

    //link(href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css")
    link(href="static/css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css")
    link(rel="apple-touch-icon" sizes="180x180" href="/favs/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favs/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favs/favicon-16x16.png")
    link(rel="manifest" href="/favs/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
